<?xml version="1.0"?>
<launch>

  <!-- send urdf to param server -->
  <param name="robot description" command="cat '$(find test0)/urdf/urdf'" />

  <!-- robot state publisher -->
  <node ns="nanotec_stepper" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
    <!--remap from="joint_states" to="/arm/joint"-->
  </node>

  <node ns="nanotec_stepper" name="driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true" launch-prefix="">
    <rosparam command="load" file="$(find test0)/config/can0.yaml" />
    <rosparam command="load" file="$(find test0)/config/canopen_nanotec.yaml" />
  </node>
  <!-- controllers -->
  <rosparam ns="nanotec_stepper" command="load" file="$(find test0)/config/nanotec_stepper_controller.yaml" />

  <!-- start controllers -->
  <node ns="nanotec_stepper" name=""
